body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #ddd7ce;
    text-align: center;
    color: #222831
}

h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 10px;
}

p{
    font-size: 1.5rem;
}